apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextjs-app-deployment
spec:
  replicas: 1 # Number of replicas (pods) to maintain
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: frontend # Use the Docker image we built earlier
          ports:
            - containerPort: 3000
          imagePullPolicy: Never